<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I fell in love with a girl, and we vowed to love each other forever. </string>
	<string>But one day, the devil seized all of her memories, including our love.</string>
	<string>And told me to find all the fragments, to let her recover memories. </string>
	<string>These memory fragments are scattered in 30 cities of the world.</string>
	<string> I need to win these cities in order to obtain memory fragmentation.</string>
	<string>For the vow, I embarked on a journey to find the memory fragmentation.</string>
</array>
</plist>
